extends layout

block content
    nav
        ul
            a(href="/stock")
                li Stock
            a(href="/menu")
                li Menu
            a(href="/service" target="popup")
                li Service
            a(href="/kitchen")
                li Kitchen
            a(href="#popup")
                li#logout Disconnect

    div#main-container.bg-contact2(style="background-image: url(/images/bg-01.jpg);height: 93vh")
        form.container(action="")
            div#dish
                h1 Dish
                ul
            div#ingredient
                h1 Ingredients
                ul
            div#sauce
                h1 Sauce
                ul
            div#drink
                h1 Drink
                ul
            div#dessert
                h1 Dessert
                ul
            div#resume
                h1 Command 1
                p#p-dish
                p#p-ingredient
                p#p-sauce
                p#p-drink
                p#p-dessert
                input#user(list="user_list" type="text" placeholder="Username")
                datalist#user_list
                button.validation(type="button") Confirm
                h2 0€
        div.list

    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/commands.js" type="module")
