extends layout

block content
  div(style="background-image: url(/images/bgcuisine.png)")#main-container.bg-contact2
    div.container-contact2
      div.wrap-contact2
        h1= message
        h2= error.status
        pre #{error.stack}
