extends layout

block content
    div#main-container.bg-contact2(style="background-image: url(/images/bgcuisine.png)")
        div#middle-container
            div#WIP
            div#waiting
            div#done

    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/kitchen.js")
