



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
  background-color: rgb(20, 20, 20);
}

/*---------------------------------------------*/
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #000000;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #2b2b2b;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #e7e7e7;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}





/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/
.bg-contact2 {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact2 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgba(219,21,99,0.8);
  background: -webkit-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: -o-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: -moz-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
}

.wrap-contact2 {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 50px 55px 50px 55px;
}


/*------------------------------------------------------------------
[  ]*/

.contact2-form {
  width: 100%;
}

.contact2-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 60px;
}



/*------------------------------------------------------------------
[  ]*/

.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 20px;
}

.input2 {
  display: block;
  width: 100%;

  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: rgba(219,21,99,1);
  background: -webkit-linear-gradient(45deg, #d5007d, #e53935);
  background: -o-linear-gradient(45deg, #d5007d, #e53935);
  background: -moz-linear-gradient(45deg, #d5007d, #e53935);
  background: linear-gradient(45deg, #d5007d, #e53935);
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  font-family: Poppins-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/
input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: rgba(219,21,99,1);
  background: -webkit-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -o-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -moz-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;



  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;


}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.container{

  display: flex;
  flex-wrap: wrap;
  height:40vh;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  float:left;
}

.container h1{
  font-family: Poppins-Bold;
  text-align: center;
  font-size: 30px;
}

.container div{
  background-color: rgb(54, 54, 54);
  padding: 1vw;
  margin-top: 2vh;
  border-radius: 1vw;
  color: rgb(206, 206, 206);
}

.list{
  width: 27%;
  height: 91vh;
  background-color: rgba(87, 87, 87, 0.938);
  overflow: scroll;
}

#main-container{
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
}

.list button{
  padding: 0.5vw;
  font-size: 20px;
  border-radius: 0.5vw;
  display: block;
  margin: auto;
}

.list div{
  background-color: rgb(131, 131, 131);
  padding: 0.5vw;
  border-bottom-left-radius: 2vw;
  box-shadow: 10px 8px 5px rgb(0, 0, 0);
  margin-top: 1vh;
  cursor: pointer;
}

.list div h1{
  font-size: 30px;
}

.list div button{
  background-color: rgb(0, 105, 0);
  color: rgb(206, 206, 206);

}

.list .spec{
  display:none;
  box-shadow: 0px 0px 0px 0px black;
}

.list .show-spec .spec{
  display: block;
}

.list .annuler {
  background-color: rgb(179, 179, 179);
  display: none;
}

.list .WIP {
  background-color: rgb(70, 170, 185);
}

.list .finis {
  background-color: rgb(185, 176, 30);
}

.list .donnee {
  background-color: rgb(0, 105, 0);
}

.list .probleme {
  background-color: rgb(133, 1, 1);
}

.list .probleme .erreur, .list .probleme .donner{
  display: none;
}

.list .probleme .annuler{
  display: block;
  color: black;
}

.list .erreur{
  background-color: rgb(133, 1, 1);
}

.list .donnee .donner, .list .donnee .erreur{
  display : none;
}

.list .donnee .annuler{
  display : block;
  color: black;
}


div#resume h2{
  padding: 0.5vw;
  background-color: rgb(116, 116, 116);
  box-shadow: 10px 8px 5px rgb(0, 0, 0);
  border-top-right-radius: 1vw;
  color: black;
  border-bottom-right-radius: 1vw;
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
}

div#resume button{
  background-color: rgba(213,0,125,0.8);
  padding: 0.8vw;
  float: right;
  box-shadow: 10px 8px 5px rgb(0, 0, 0);
  font-size: 1.48rem;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}

div#resume button:hover{
  color: white;
  transition-duration: 0.2s;
}

.wrap-contact2 p{
  font-size: 25px;
  text-align: center;
}

div#fct{
  text-align: center;
  font-size: 20px;
}

div#middle-container{
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
}

.no-margin{
  margin: 0 !important;
  padding : 0 !important;
}

nav{
  width: 100%;
  background-color: rgb(206, 206, 206);
}

nav ul li{
  font-size: 30px;
  float: left;
  padding : 0.2vw 2vw;
  cursor: pointer;
  color: white;
}

nav ul li:hover{
  background-color: rgb(189, 189, 189);
  transition-duration: 0.3s;
}

li#logout {
  float: right;
}

audio{
  display: block;
  margin: auto;
}

#popup{
  position: fixed;
  top: 40%;
  left: 18%;
  padding: 1vw;
  border-radius: 2vw;
  background-color: rgb(32, 32, 32);
  box-shadow: 10px 8px 5px rgb(0, 0, 0);
  color: white;
  z-index: 1;
  display:none;
}

#popup:target{
  display: block;
  animation: 0.7s slide-up;
}

@keyframes slide-up{
  0%{top:-50%}
  100%{top: 40%;}
}

#popup:target +.bg-contact2{
  opacity: 0.2;
}

#WIP{
  display: flex;
  flex-wrap : wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

#WIP div{
  background-color: rgb(39, 39, 39);
  padding: 1vw;
  margin-top: 5vh;
  border-radius: 0.5vw;
  border: 0.4vw solid rgb(245, 144, 11);
}

#WIP h1{
  color: rgb(245, 144, 11);
}

#waiting{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

#waiting div{
  padding: 1vw;
  margin-top: 2vh;
  border-radius: 0.5vw;
  border: 0.4vw solid rgb(190, 101, 101);
  background-color: rgb(39, 39, 39);
}

#waiting h1{
  color: rgb(190, 101, 101);
}

.finie{
  display: none;
}

#middle-container p{
  font-size: 20px;
}

#done{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 100%;
}

#done div{
  border: 0.4vw solid rgb(122, 233, 105);
  background-color: rgb(39, 39, 39);
  padding: 1vw;
  margin-top: 2vh;
  border-radius: 0.5vw;
}

#done h1{
  color: rgb(122, 233, 105);
}

#waiting div :nth-child(2), #waiting div :nth-child(4), #waiting div :nth-child(5) {
  display: none;
}

#done div :nth-child(2), #done div :nth-child(4), #done div :nth-child(5){
  display: none;
}



#WIP>h1{
  position: fixed;
  top: 2%;
}


input[type=number]{
  width: 10%;
  background-color: lightgrey;
  font-size: 20px;
}

form>div{
  box-shadow: 10px 8px 5px rgb(32, 32, 32);
}

.com h1{
  text-align: center;
  color: rgb(255, 255, 255);
  width: 10%;
}

.com>button{
  float: right;
}

#resume input#user {
  width: 80%;
  font-size: 25px;
  background-color: grey;
  margin-bottom: 1vh;
}

@media only screen and (max-width: 768px) {


  .list{
    width: 40%;
  }
}

@media only screen and (min-width: 1000px){

  div#resume{
    position: fixed;
    width: 20%;
    bottom:0;
    left: 0;
    border-radius: 0;
  }
}

div#teams{
  margin-top: 10vh;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

#teams div{
  margin: auto;
}

#teams input{
  margin-right: 1vw;
  font-size: 20px;
  background-color: grey;
  border: 0.1vw solid rgb(0, 0, 0);
  display:block;

}

#teams label{
  font-size: 25px;
  display:block;

}

#gobackpc{
  float: right;
}

#okteam{
  background: -webkit-linear-gradient(45deg, rgba(213,0,125), rgba(229,57,53));
  background: -o-linear-gradient(45deg, rgba(213,0,125), rgba(229,57,53));
  background: -moz-linear-gradient(45deg, rgba(213,0,125), rgba(229,57,53));
  background: linear-gradient(45deg, rgba(213,0,125), rgba(229,57,53));

}

#okteam button{
  font-size: 30px;
}